/* \\GENERAL RULE\\ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0px auto;
    max-width: 1440px;
    min-width: 373px;
    width:100%;
    font-family: 'Roboto',sans-serif;
    background-color: white;
}

/* \\HEADER DESIGN\\ */

header {
    margin: 0px auto;
    width:90%;
    padding: 20px;
    background-color: white;
    font-family:'Roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 900;
    letter-spacing: -0.1em;
    color: rgba(0, 0, 0, 0.678);
    font-family: 'Roboto', sans-serif;
}

header h1::first-letter{
    color: rgb(83, 136, 123);
    font-size: 50px;
}

ul.nav li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 5px;
}

ul.nav li#about {
    background-color: #c7d8d159;
    padding: 5px;
    border-radius: 5px;
}

ul.nav li, a.header {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.678);
    font-size: 19px;
    text-decoration: none;
}

ul li:last-child{
    margin-right: 0px;
}


a.header:hover, a.header:focus {
    font-weight: 500;
    color: rgb(49, 139, 112);
}

a.header:active {
    font-weight: 400;
    color:rgb(243, 210, 62);
}

div.menu {
    width: 30px;
    padding: 1px;
    display: none;
    flex-flow: column;
    gap: 3px;
    position: relative;
    top:5px;
    cursor: pointer;
    transition: all 0.8s ease-out;
}

section.dropdown {
    display: none;
    width: 100vw;
    min-width: 375px;
    padding: 0px;
    background-color: #fff;
    filter: blur(30%);
    backdrop-filter: blur(40%);
    position: absolute;
    z-index: 100;
    border: 1px solid #435055;
}

div.menu:hover, div.menu:focus {
    transform: scale(1.1);
}

div.menu:active {
    transform: scale(0.9);
}

div.bar {
    width: 100%;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.678);
}

div.cross {
    display: none;
    width: 65px;
    min-width: 60px;
    height: 45px;
    background-color: #fff;
    position: absolute;
    z-index: 1000;
    padding: 0px;
    top: 32px;
    /* left: 86%; */
    left: 440px;
}

img.close {
    position: relative;
    left: 5px;
    width: 50px;
    height: 30px;
}

ul.dropmenu li {
    display:block;
    width: 100%;
    text-align: center;
    padding: 0px;
    font-size: 16px;
}
ul.dropmenu li#home {
    padding: 15px 0px 10px 0px;
    background: none;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.527);
}

ul.dropmenu li#about {
    padding: 10px 0px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.527);
}

ul.dropmenu li#contact {
    padding: 10px 0px 20px 0px;
}

ul.dropmenu li, a.drop {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.678);
    font-size: 16px;
    text-decoration: none;
}


ul.dropmenu a.drop:hover, ul.dropmenu a.drop:focus {
    font-weight: 500;
    color: rgb(49, 139, 112);
}

a.drop:active {
    font-weight: 400;
    color:rgb(243, 210, 62);
}
ul.dropmenu li#home:active,ul.dropmenu li#about:active, ul.dropmenu li#contact:active {
    background-color: #c7d8d159;
}

/* \\ABOUT SECTION DESIGN\\ */

section.about {
    width:90%;
    margin: 0px auto;
    background-color: #fff;
    padding: 3% 2% 60px 2%;
}

hr {
    /* border: none; */
    width:46.41px;
    margin: 0px 0px 35px 0px;
    height: 5px;
    background-color: #435055;
    border-radius: 5px;
}

h2 {
    color: #435055;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
}

main {
    width: 100%;
    padding: 2.5% 1.5%;
}

main h3 {
    font-size: 1.4rem;
    letter-spacing: -0.07;
    word-spacing: -0.1rem;
    margin: 50px 0px 25px 0px;
    color: #435055;
    padding-bottom: 0px;
}

main h3:first-child {
    margin-bottom: 20px;
}

main h4 {
    color: #435055;
    margin-left: 10px;
}

main p {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.562);
    width: 95%;
    margin: 8px auto 0px auto;
    line-height: 1.65;
}

h3#value {
    padding-bottom: 10px;
}

ul.values {
    width: 95%;
    color: rgba(0, 0, 0, 0.562);
    font-size: 17px;
    list-style-type: none;
    margin-left: 25px;
}

ul.values li:first-child {
    margin-top: 20px;
}

ul.values li {
    margin-top: 15px;
}

/* \\CONTACT SECTION DESIGN\\ */


section.contact {
    background-color: #435055;
    padding: 6% 6% 3% 6%;
    color: white;
}

h2#contact {
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    letter-spacing: 0.03em;
    /* margin-bottom: 20px; */
}

section.contact hr {
    background-color: white;
}

main.contact-grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10%;
}

div.con {
    width: 25%;
}

section.contact h1 {
    font-weight: 700;
    letter-spacing: 0.01em;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

section.contact h4 {
    color: #fff;
}

main.contact-grid p{
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 10px auto 0px auto;
    line-height: 1.5;
    font-size: 14px;
}

main.contact-grid p a:link {
    color: #fff;
    text-decoration: none;
}

main.contact-grid p a:hover,main.contact-grid p a:focus {
    font-weight: 500;
    text-decoration: underline;
}

main.contact-grid h4 {
    margin-bottom: 5px;
}

h4.email {
    margin-top: 20px;
}

p.mail {
    margin-top: 0px;
    padding-bottom: 20px;
}

img.logos {
    display: none;
}

/* \\FOOTER DESIGN\\ */

footer {
    text-align: center;
    font-family: 'Oswald',sans-serif;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.774);
}

/* \\RESPONSIVENESS// */

@media only screen and (max-width:870px) {
header {
    padding: 20px;
}
section.contact {
    padding: 20px 4% 15px 4%;
}

main.contact-grid {
    display: flex;
    flex-flow: column nowrap;
    gap:20px;
}

div.con {
    width: 100%;
}

div.con h4 {
    display: none;
}

img.logos {
    display: inline-block;
    margin-right: 15px;
}

img.phone2 {
    visibility: hidden;
}

}

@media only screen and (max-width:650px) {

    /* HEADER SECTION */

    header {
        padding: 20px;
    }

    header ul {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    header h1::first-letter {
        font-size: 38px;
    }


    section.dropdown {
        display: none;
    } 

    div.menu {
        display: flex;
    }

    /* ABOUT SECTION */

    section.about {
        width: 85%;
    }

    h2,h2#contact {
        font-size: 19px;
    }

    main {
        padding: 0px;
    }

    main h3 {
        font-size: 18px;
        margin: 25px 0px 15px 0px;
    }

    main h3:first-child {
        margin-top: 15px;
        margin-bottom: 10px;
    }

    main h4 {
        font-size: 16px;
    }

    main p {
        font-size: 16px;
    }

    h3#value {
        font-size: 16.8px;
        padding-bottom: 0px;
        word-spacing: 0.01rem;
        letter-spacing: 0.05em;
    }

    ul.values {
        font-size: 16px;
    }

    div.cross {
        left: 535px;
    }

    /* CONTACT SECTION */

    section.contact {
        padding: 40px;
    }

    div.con p {
        line-height: 1.8;
        letter-spacing: 0.04em;
    }

}

@media only screen and (max-Width:617px) {

    div.cross {
        left:502px
    }

}

@media only screen and (max-Width:582px) {

    div.cross {
        left:470px
    }

}

@media only screen and (max-Width:548px) {

    div.cross {
        left:437px
    }

}

@media only screen and  (max-width:530px) {

    header {
        width: 98%;
        padding: 18px;
    }

    ul.nav li {
        margin-right: 6px;
    }

    ul.nav li, a.header {
        font-size: 14px;
    }

    ul.nav li#about {
    background-color: #fff;
    padding: 0px;
    border-radius: 0px;   
    }

    footer p {
        font-size: 12px;
        word-spacing: 0.2em;;
    }

    div.cross {
        left: 445px;
    }

}

@media only screen and (max-Width:498px) {

    div.cross {
        left:412px;
    }

}

@media only screen and (max-width:494px) {
    div.cross {
        left: 408px;
    }
}

@media only screen and (max-Width:462px) {

    div.cross {
        left:375px
    }

}

@media only screen and (max-width:458px) {
    div.cross {
        left: 375px;
    }
}

@media only screen and (max-width:428px) {
    div.cross {
        left: 350px;
    }
}

@media only screen and (max-width:403px) {
    div.cross {
        left: 320px;
    }
}