/* \\GENERAL RULE\\ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0px auto;
    max-width: 1440px;
    min-width: 373px;
    width:100%;
    font-family: 'Roboto',sans-serif;
    background-color: white;
    overflow-x: hidden;
}


/* \\HEADER DESIGN\\ */

header {
    margin: 0px auto;
    width:90%;
    padding: 20px;
    background-color: white;
    font-family:'Roboto',sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 900;
    letter-spacing: -0.1em;
    color: rgba(0, 0, 0, 0.678);
    font-family: 'Roboto', sans-serif;
}

header h1::first-letter{
    color: rgb(83, 136, 123);
    font-size: 50px;
}

ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    top: 5px;
}

ul li.contact {
    background-color: #c7d8d159;
    padding: 5px;
    border-radius: 5px;
}

ul li, a.header {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.678);
    font-size: 19px;
    text-decoration: none;
}

ul li:last-child{
    margin-right: 0px;
}


a.header:hover, a.header:focus {
    font-weight: 500;
    color: rgb(49, 139, 112);
}

a.header:active {
    font-weight: 400;
    color:rgb(243, 210, 62);
}

div.menu {
    width: 30px;
    padding: 1px;
    display: none;
    position: relative;
    top:5px;
    cursor: pointer;
    transition: all 0.8s ease-out;
}

img.bar {
    width:100%;
    filter: brightness(0) saturate(100%) invert(29%) sepia(3%) saturate(2133%) hue-rotate(151deg) brightness(94%) contrast(86%);
}

div.cross {
    display: none;
    width: 30px;
    padding: 0px;
    height: 45px;
    background-color: #fff;
}

img.close {
    width: 100%;
    position: relative;
    top:11px;
    filter: brightness(0) saturate(100%) invert(29%) sepia(3%) saturate(2133%) hue-rotate(151deg) brightness(94%) contrast(86%);
}


section.dropdown {
    display: none;
    width: 100vw;
    min-width: 375px;
    padding: 0px;
    background-color: #fff;
    filter: blur(30%);
    backdrop-filter: blur(40%);
    position: absolute;
    z-index: 100;
    border: 1px solid #435055;
}

div.menu:hover, div.menu:focus {
    transform: scale(1.1);
}

div.menu:active {
    transform: scale(0.9);
}

ul.dropmenu li {
    display:block;
    width: 100%;
    text-align: center;
}
ul.dropmenu li#home {
    font-size: 19px;
    padding: 15px 0px 10px 0px;
    background: none;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.527);
}

ul.dropmenu li#about {
    padding: 10px 0px;
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.527);
}

ul.dropmenu li#contact {
    padding: 10px 0px 20px 0px;
}

ul.dropmenu li, a.drop {
    list-style-type: none;
    color: rgba(0, 0, 0, 0.678);
    font-size: 16px;
    text-decoration: none;
}


ul.dropmenu a.drop:hover, ul.dropmenu a.drop:focus {
    font-weight: 500;
    color: rgb(49, 139, 112);
}

a.drop:active {
    font-weight: 400;
    color:rgb(243, 210, 62);
}
ul.dropmenu li#home:active,ul.dropmenu li#about:active, ul.dropmenu li#contact:active {
    background-color: #c7d8d159;
}

/* CONTACT SECTION */

section {
    width:90%;
    margin: 0px auto;
    background-color: #fff;
}

section.description {
    padding: 60px 30px;
}
address {
    text-indent: 35px;
}

section.phone {
    padding:  20px 30px;
}

hr {
    width:46.41px;
    margin: 0px 0px 35px 0px;
    height: 5px;
    background-color: #435055;
    border-radius: 5px;
}

h2 {
    color: #435055;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    letter-spacing: 0.03em;
}

p, address {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.562);
    width: 95%;
    margin: 8px auto 0px auto;
    line-height: 1.65;
}

p.number a:link, p.mail a:link {
    color: #435055;
    cursor: pointer;
    text-decoration: underline;
    text-indent: 30px;
}

p.number a:hover, p.number a:focus, p.mail a:hover, p.mail a:focus {
    color: rgb(49, 139, 112);
    border-bottom: 1px dashed rgb(49, 139, 112);
}

section.mail {
    padding: 60px 30px;
}

section.social {
    padding: 10px 30px;
}

p.fb a:link, p.whatsapp a:link {
    color: #435055;
    text-decoration: underline;
    font-style: oblique;
    font-weight: 300;
}

/* \\FOOTER DESIGN\\ */

footer {
    text-align: center;
    font-family: 'Oswald',sans-serif;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.774);
}

footer p {
    font-size: 12px;
    word-spacing: 0.2em;;
}

/* RESPONSIVENESS DESIGN */

@media only screen and (max-width:700px){
    header {
        padding: 20px;
    }

    header h1 {
        font-size: 20px;
    }

    header h1::first-letter {
        font-size: 38px;
    }

    ul li {
        margin-right: 15px;
    }

    ul li, a.header {
        font-size: 16px;
    } 
    h2 {
        font-size: 18px;
    }

    p,address {
        font-size: 16px;
        width: 90%;
    }
}

@media only screen and (max-width:650px) {

    header {
        padding: 20px;
    }

    header ul {
        display: block;
    }

    h1 {
        font-size: 20px;
    }

    header h1::first-letter {
        font-size: 38px;
    }

    address {
        text-indent: 0px;
    }
}

@media only screen and  (max-width:530px) {

    header {
        width: 98%;
        padding: 20px 3px 20px 20px;
    }

    header {
        padding: 18px;
    }

    header ul {
        display: none;
    }

    header h1 {
        font-size: 18px;
    }

    header h1::first-letter {
        font-size: 36px;
    }

    div.menu {
        display: block;
    }

    footer p {
        font-size: 12px;
        word-spacing: 0.2em;;
    }
    

}